<% include partials/head.ejs %>
<div class='container'>
  <header>
    <h1>Type in your word and get related words for you own personalized wordcloud</h1>
  </header>
  <img src='images/twit.png' class='twit-logo' />
  <section>
    <form>
      <input type='text' value='' id='search' />
      <button type="submit" name="button" id='fireEvent'>Search twitter feed</button>
    </form>
  </section>
</div>

<% include partials/foot.ejs %>
