<% include partials/head.ejs %>
<h1>Check your favorite twitterfeed</h1>
<form>
  <input type='text' value='' id='search' />
  <button type="submit" name="button" id='fireEvent'>Search twitter feed</button>
</form>
<% include partials/foot.ejs %>
